@model ls.key2uni.Domain.Models.ContactResponseModel

@{
    ViewBag.Title = "Contact";
}

@section navigation
{
    <ul class="logo col-md-2"><img src="~/Images/LOGO YELLOW_clipped_rev_1.png" width="150px" height="35px" alt=""></ul>
                    <ul class="nav navbar-nav col-md-9">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About us", "Index", "AboutUs")</li>
                        <li>@Html.ActionLink("Services", "Index", "Services")</li>
                        <li class="active">@Html.ActionLink("Contact", "Index", "Contact")</li>
                    </ul>
}

@section featured
{
    <div class="fundo container">
    <h2 class="page-header">@ViewBag.Title <small class="pull-right">We will be in touch with you shortly</small></h2>
    <div class="container">
        <form action="MAILTO:info@key2uni.com" method="POST" enctype="text/plain" class="form-horizontal container" role="form">
            <div class="form-group">
                <label for="inputEmail1" class="col-lg-2 control-label">First Name</label>
                <div class="col-lg-5">
                    <input type="text" class="form-control" name="Your name is" placeholder="Your First Name">
                </div>
            </div>

            <div class="form-group">
                <label for="inputPassword1" class="col-lg-2 control-label">Last Name</label>
                <div class="col-lg-5">
                    <input type="text" name="Your Last name is" class="form-control" placeholder="Your Last Name">
                </div>
            </div>
            
            <div class="form-group">
                <label for="inputemail1" class="col-lg-2 control-label">Email</label>
                <div class="col-lg-5">
                    <input type="email" name="Your email is" class="form-control" id="inputemail1" placeholder="Your e-mail address">
                </div>
            </div>
            
            <div class="form-group">
                <label for="inputemail2" class="col-lg-2 control-label">Subject</label>
                <div class="col-lg-5">
                    <textarea name="Subject" class="form-control" rows="7" placeholder="Your message here"></textarea>
                </div>
            </div>
            
            <div class="form-group">
                <div class="col-lg-offset-2 col-lg-10">
                    <button type="submit" class="btn btn-default">Submit</button>
                </div>
            </div>
        </form>
        @using(Html.BeginForm())
        {
            @Html.ValidationSummary()
            <p>Your First Name: @Html.TextBoxFor(x => x.FirstName)</p>
            <p>Your Last Name: @Html.TextBoxFor(x => x.Surname)</p>
            <p>Your Email Address: @Html.TextBoxFor(x => x.Email)</p>
            <p>Your subject is: @Html.TextBoxFor(x => x.Subject)</p>
            <input type="submit" value="Submit" class="btn btn-default" />
        }
    </div>
        
}

