@{
    ViewBag.Title = "Services";
}

@section navigation
{
    <ul class="logo col-md-2"><img src="~/Images/LOGO YELLOW_clipped_rev_1.png" width="150px" height="35px" alt=""></ul>
                    <ul class="nav navbar-nav col-md-9">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About us", "Index", "AboutUs")</li>
                        <li class="active">@Html.ActionLink("Services", "Index", "Services")</li>
                        <li>@Html.ActionLink("Contact", "Index", "Contact")</li>
                    </ul>
}

@section featured
{
    <div class="fundo container">
    <h2 class="page-header">@ViewBag.Title</h2>
        <div class="contactJumbo">
            <div class="container">
                <div class="col-md-3">
                    <ul class="nav nav-pills nav-stacked">
                        <li class="active">
                            <a href="#">About us</a>
                        </li>
                        <li>
                            <a href="#">Description</a>
                        </li>
                    </ul>
                </div>
            </div>
                        
        </div>
</div>
}
